<app-nav-menu></app-nav-menu>
<section class="application-details">
    <mat-card class="section-details">
        <mat-card-title class="section-details-title">
            Personal Information
        </mat-card-title>
        <form [formGroup]="applicationForm" (ngSubmit)="editApplication()">
            <section class="section-details-body">
                <div class="input-wrap-row">
                    <div class="input-wrap">
                        <mat-form-field appearance="outline" class="input-wrap__input">
                            <mat-label>First Name </mat-label>
                            <input matInput formControlName="firstName"
                                   class="form-control"
                                   [class.is-invalid]="applicationForm.get('firstName')?.invalid && applicationForm.get('firstName')?.touched"
                                   placeholder="First Name ">
                            <mat-error *ngIf="applicationForm.get('firstName')?.hasError('required')">
                                First name is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="input-wrap">
                        <mat-form-field appearance="outline" class="input-wrap__input">
                            <mat-label>Last Name </mat-label>
                            <input matInput formControlName="lastName"
                                   class="form-control"
                                   [class.is-invalid]="applicationForm.get('lastName')?.invalid && applicationForm.get('lastName')?.touched"
                                   placeholder="Last Name ">
                            <mat-error *ngIf="applicationForm.get('lastName')?.hasError('required')">
                                Last name is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="input-wrap-row">
                    <div class="input-wrap">
                        <mat-form-field appearance="outline" class="input-wrap__input">
                            <mat-label>Phone Number</mat-label>
                            <input matInput formControlName="phoneNumber"
                                   class="form-control"
                                   [class.is-invalid]="applicationForm.get('phoneNumber')?.invalid && applicationForm.get('phoneNumber')?.touched"
                                   placeholder="Last Name ">
                            <mat-error *ngIf="applicationForm.get('phoneNumber')?.hasError('required')">
                                Phone number is required
                            </mat-error>
                            <mat-error *ngIf="applicationForm.get('phoneNumber')?.hasError('pattern')">
                                Phone number must be exactly 10 digits and contain only numbers
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="input-wrap">
                        <mat-form-field appearance="outline" class="input-wrap__input">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email"
                                   class="form-control"
                                   [class.is-invalid]="applicationForm.get('email')?.invalid && applicationForm.get('email')?.touched"
                                   placeholder="Email">
                            <mat-error *ngIf="applicationForm.get('email')?.hasError('required')">
                                Please input valid email e.g. example&#64;gmail.com
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </section>
            <hr />
            <mat-card-title class="section-details-title">Application Information</mat-card-title>
            <section class="section-details-body">
                <div class="input-wrap-row">
                    <div class="input-wrap">
                        <mat-form-field appearance="outline" class="input-wrap__input">
                            <mat-label>Application Number </mat-label>
                            <input matInput formControlName="applicationNumber"
                                   class="form-control"
                                   [class.is-invalid]="applicationForm.get('applicationNumber')?.invalid && applicationForm.get('applicationNumber')?.touched"
                                   placeholder="Application Number" readonly>
                        </mat-form-field>
                    </div>
                    <div class="input-wrap">
                        <mat-form-field appearance="outline" class="input-wrap__input">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="input-wrap-row">
                    <div class="input-wrap">
                        <mat-form-field appearance="outline" class="input-wrap__input">
                            <mat-label>Amount </mat-label>
                            <input matInput formControlName="amount"
                                   class="form-control"
                                   [class.is-invalid]="applicationForm.get('amount')?.invalid && applicationForm.get('amount')?.touched"
                                   placeholder="Amount">
                            <mat-error *ngIf="applicationForm.get('amount')?.hasError('required')">
                                Amount is required
                            </mat-error>
                            <mat-error *ngIf="applicationForm.get('amount')?.hasError('min')">
                                Amount must be higher than 0
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="input-wrap">
                        <mat-form-field appearance="outline" class="input-wrap__input">
                            <mat-label>Monthly Payment Amount</mat-label>
                            <input matInput formControlName="monthlyPayAmount" placeholder="Monthly Payment Amount" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="input-wrap-row">
                    <div class="input-wrap" id="lastInput">
                        <mat-form-field appearance="outline" class="input-wrap__input">
                            <mat-label>Term Length (Months) </mat-label>
                            <input matInput formControlName="terms"
                                   class="form-control"
                                   [class.is-invalid]="applicationForm.get('terms')?.invalid && applicationForm.get('terms')?.touched"
                                   placeholder="Term Length (Months)">
                            <mat-error *ngIf="applicationForm.get('terms')?.hasError('required')">
                                Term length is required
                            </mat-error>
                            <mat-error *ngIf="applicationForm.get('terms')?.hasError('min')">
                                Term length must be higher than 0
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </section>
            <hr />
            <mat-card-actions class="details-buttons">
                <button mat-button color="primary" type="submit">SAVE</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>
