<app-nav-menu (backClick)="onBack()"></app-nav-menu>
<section class="application-details">
  <mat-card class="section-details">
    <mat-card-title class="section-details-title">Personal Information</mat-card-title>
    <form [formGroup]="applicationForm">
      <section class="section-details-body">
        <div class="input-wrap-row">
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" required>
              <mat-error *ngIf="applicationForm.get('firstName')?.hasError('required')">First name is required</mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" required>
              <mat-error *ngIf="applicationForm.get('lastName')?.hasError('required')">Last name is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="input-wrap-row">
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" (keypress)="onNumericKeypress($event)" maxlength="10" required>
              <mat-error *ngIf="applicationForm.get('phoneNumber')?.hasError('required')">Phone number is required</mat-error>
              <mat-error *ngIf="applicationForm.get('phoneNumber')?.hasError('pattern')">Phone must be 10 digits with no special characters</mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required>
              <mat-error *ngIf="applicationForm.get('email')?.hasError('required')">Email is required</mat-error>
              <mat-error *ngIf="applicationForm.get('email')?.hasError('pattern')">Please enter a valid email address</mat-error>
            </mat-form-field>
          </div>
        </div>
      </section>
      <hr />
      <mat-card-title class="section-details-title">Application Information</mat-card-title>
      <section class="section-details-body">
        <div class="input-wrap-row">
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Application Number</mat-label>
              <input matInput formControlName="applicationNumber" placeholder="000000-0000" (keypress)="onNumericKeypress($event)" (input)="onApplicationNumberInput()" maxlength="11" required>
              <mat-error *ngIf="applicationForm.get('applicationNumber')?.hasError('required')">Application number is required</mat-error>
              <mat-error *ngIf="applicationForm.get('applicationNumber')?.hasError('pattern')">Format must be 000000-0000</mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                  <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
              </mat-select>
              </mat-form-field>
          </div>
        </div>
        <div class="input-wrap-row">
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Amount</mat-label>
              <input matInput formControlName="amount" type="number" required>
              <mat-error *ngIf="applicationForm.get('amount')?.hasError('required')">Amount is required</mat-error>
              <mat-error *ngIf="applicationForm.get('amount')?.hasError('min')">Amount must be greater than 0</mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Monthly Payment Amount</mat-label>
              <input matInput formControlName="monthlyPayAmount">
            </mat-form-field>
          </div>
        </div>
        <div class="input-wrap-row">
          <div class="input-wrap" id="lastInput">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Term</mat-label>
              <input matInput formControlName="term" type="number" required>
              <mat-error *ngIf="applicationForm.get('term')?.hasError('required')">Term is required</mat-error>
              <mat-error *ngIf="applicationForm.get('term')?.hasError('min')">Term must be at least 1</mat-error>
            </mat-form-field>
          </div>
        </div>
      </section>
      <hr />
    </form>
    <mat-card-actions class="details-buttons">
      <button mat-button color="primary" (click)="onSave()">SAVE</button>
    </mat-card-actions>
</mat-card>
</section>
